{% extends "base_user_account.html" %}

{% load widget_tweaks %}

{% block content %}

<div class="card mt-5">

    <div class="card-header">
        <h4>Reset User</h4>
    </div>

    <div class="card-body">
        {% if form.errors %}
          <div class="alert alert-danger">
            {{ form.errors }}
          </div>
        {% endif %}

        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
    
           <div class="mb-3">
                {{ form.email|add_label_class:"form-label"  }}
                {{ form.email|add_class:"form-control" }}
           </div>

            <div class="d-grid">
                <input type="submit" value="Send" class="btn btn-primary">
            </div>
        </form>

        <a class="float-end mt-3" href="{% url 'password_reset' %}">Forged Password?</a>
    </div>
</div>
{% endblock %}